.imageBoard 
{
    columns: 3;
    column-gap: 15px;
    background-color: rgb(255, 255, 255);
}   

.imageCard
{
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}

.imageCard img 
{
    max-width: 100%;
}

@media (max-width: 1200px)
{
    .imageBoard
    {
        columns: 2;
    }
}

@media (max-width: 768px)
{
    .imageBoard
    {
        columns: 1;
    }
}